[submodule "Social Engineering/Phishing/whatsapp-phishing"]
	path = Social Engineering/Phishing/whatsapp-phishing
	url = https://github.com/Mawalu/whatsapp-phishing.git
[submodule "CTF Tools/pwntools"]
	path = CTF Tools/pwntools
	url = https://github.com/Gallopsled/pwntools.git
[submodule "Reverse Engineering/peda"]
	path = Reverse Engineering/peda
	url = https://github.com/longld/peda.git
[submodule "Reverse Engineering/plasma"]
	path = Reverse Engineering/plasma
	url = https://github.com/joelpx/plasma.git
[submodule "Reverse Engineering/medusa"]
	path = Reverse Engineering/medusa
	url = https://github.com/wisk/medusa.git
[submodule "Reverse Engineering/edb-debugger"]
	path = Reverse Engineering/edb-debugger
	url = https://github.com/eteran/edb-debugger.git
[submodule "Reverse Engineering/x64dbg"]
	path = Reverse Engineering/x64dbg
	url = https://github.com/x64dbg/x64dbg.git
[submodule "Reverse Engineering/radare2"]
	path = Reverse Engineering/radare2
	url = https://github.com/radare/radare2.git
[submodule "Network/Sniffer/moloch"]
	path = Network/Sniffer/moloch
	url = https://github.com/aol/moloch
[submodule "Network/Sniffer/OpenFPC"]
	path = Network/Sniffer/OpenFPC
	url = https://github.com/leonward/OpenFPC.git
[submodule "Network/Sniffer/PF_RING"]
	path = Network/Sniffer/PF_RING
	url = https://github.com/ntop/PF_RING.git
[submodule "Pentration Testing/Exploits/exploit-database"]
	path = Pentration Testing/Exploits/exploit-database
	url = https://github.com/offensive-security/exploit-database.git
[submodule "Pentration Testing/Fuzzing/Zulu"]
	path = Pentration Testing/Fuzzing/Zulu
	url = https://github.com/nccgroup/Zulu.git
[submodule "Pentration Testing/Password Cracking/Hob0Rules"]
	path = Pentration Testing/Password Cracking/Hob0Rules
	url = https://github.com/praetorian-inc/Hob0Rules.git
[submodule "Pentration Testing/Web/zaproxy"]
	path = Pentration Testing/Web/zaproxy
	url = https://github.com/zaproxy/zaproxy.git
[submodule "Pentration Testing/Web/sqlmap"]
	path = Pentration Testing/Web/sqlmap
	url = https://github.com/sqlmapproject/sqlmap.git
[submodule "Pentration Testing/Password Cracking/hashcat"]
	path = Pentration Testing/Password Cracking/hashcat
	url = https://github.com/hashcat/hashcat.git
[submodule "Pentration Testing/Post Exploitation/mimikatz"]
	path = Pentration Testing/Post Exploitation/mimikatz
	url = https://github.com/gentilkiwi/mimikatz.git
[submodule "Reverse Engineering/dex2jar"]
	path = Reverse Engineering/dex2jar
	url = https://github.com/pxb1988/dex2jar.git
[submodule "Reverse Engineering/jd-gui"]
	path = Reverse Engineering/jd-gui
	url = https://github.com/java-decompiler/jd-gui.git
[submodule "Reverse Engineering/upx"]
	path = Reverse Engineering/upx
	url = https://github.com/upx/upx.git
[submodule "Network/Packet Manipulation/pig"]
	path = Network/Packet Manipulation/pig
	url = https://github.com/rafael-santiago/pig.git
[submodule "Pentration Testing/MITM/mitmproxy"]
	path = Pentration Testing/MITM/mitmproxy
	url = https://github.com/mitmproxy/mitmproxy.git
[submodule "Pentration Testing/MITM/mitmsocks4j"]
	path = Pentration Testing/MITM/mitmsocks4j
	url = https://github.com/Akdeniz/mitmsocks4j.git
[submodule "Malware/Dynamic Analysis/androguard"]
	path = Malware/Dynamic Analysis/androguard
	url = https://github.com/androguard/androguard.git
[submodule "Cryptography/xortool"]
	path = Cryptography/xortool
	url = https://github.com/hellman/xortool.git
[submodule "Pentration Testing/Password Cracking/JohnTheRipper"]
	path = Pentration Testing/Password Cracking/JohnTheRipper
	url = https://github.com/magnumripper/JohnTheRipper.git
[submodule "Forensics/File Forensics/autopsy"]
	path = Forensics/File Forensics/autopsy
	url = https://github.com/sleuthkit/autopsy.git
[submodule "Forensics/File Forensics/sleuthkit"]
	path = Forensics/File Forensics/sleuthkit
	url = https://github.com/sleuthkit/sleuthkit.git
[submodule "Forensics/File Forensics/scalpel"]
	path = Forensics/File Forensics/scalpel
	url = https://github.com/sleuthkit/scalpel.git
[submodule "Forensics/File Forensics/hadoop_framework"]
	path = Forensics/File Forensics/hadoop_framework
	url = https://github.com/sleuthkit/hadoop_framework.git
[submodule "Pentration Testing/Web/tplmap"]
	path = Pentration Testing/Web/tplmap
	url = https://github.com/epinna/tplmap.git
[submodule "Pentration Testing/Exploiting/metasploit-framework"]
	path = Pentration Testing/Exploiting/metasploit-framework
	url = https://github.com/rapid7/metasploit-framework.git
[submodule "Pentration Testing/Exploiting/shellsploit-framework"]
	path = Pentration Testing/Exploiting/shellsploit-framework
	url = https://github.com/b3mb4m/shellsploit-framework.git
[submodule "Reverse Engineering/voltron"]
	path = Reverse Engineering/voltron
	url = https://github.com/snare/voltron.git
[submodule "Pentration Testing/Training/SecurityShepherd"]
	path = Pentration Testing/Training/SecurityShepherd
	url = https://github.com/OWASP/SecurityShepherd.git
[submodule "Pentration Testing/Training/railsgoat"]
	path = Pentration Testing/Training/railsgoat
	url = https://github.com/OWASP/railsgoat.git
[submodule "Pentration Testing/Web/wpscan"]
	path = Pentration Testing/Web/wpscan
	url = https://github.com/wpscanteam/wpscan.git
[submodule "Pentration Testing/Training/DVWA"]
	path = Pentration Testing/Training/DVWA
	url = https://github.com/ethicalhack3r/DVWA.git
[submodule "Docker/vaas-cve-2014-6271"]
	path = Docker/vaas-cve-2014-6271
	url = https://github.com/hmlio/vaas-cve-2014-6271.git
[submodule "Docker/dockerdvwa"]
	path = Docker/dockerdvwa
	url = https://github.com/citizen-stig/dockerdvwa.git
[submodule "Docker/kali-linux-docker"]
	path = Docker/kali-linux-docker
	url = https://github.com/offensive-security/kali-linux-docker.git
[submodule "Docker/vaas-cve-2014-0160"]
	path = Docker/vaas-cve-2014-0160
	url = https://github.com/hmlio/vaas-cve-2014-0160.git
[submodule "Docker/Security_Ninjas_AppSec_Training"]
	path = Docker/Security_Ninjas_AppSec_Training
	url = https://github.com/opendns/Security_Ninjas_AppSec_Training.git
[submodule "Docker/docker-bench-security"]
	path = Docker/docker-bench-security
	url = https://github.com/diogomonica/docker-bench-security.git
[submodule "Pentration Testing/Training/WebGoat"]
	path = Pentration Testing/Training/WebGoat
	url = https://github.com/WebGoat/WebGoat.git
[submodule "Docker/dockermutillidae"]
	path = Docker/dockermutillidae
	url = https://github.com/citizen-stig/dockermutillidae.git
[submodule "Pentration Testing/Web/nikto"]
	path = Pentration Testing/Web/nikto
	url = https://github.com/sullo/nikto.git
[submodule "Pentration Testing/Web/w3af"]
	path = Pentration Testing/Web/w3af
	url = https://github.com/andresriancho/w3af.git
[submodule "Pentration Testing/Web/dvcs-ripper"]
	path = Pentration Testing/Web/dvcs-ripper
	url = https://github.com/kost/dvcs-ripper.git
[submodule "Pentration Testing/Web/arachni"]
	path = Pentration Testing/Web/arachni
	url = https://github.com/Arachni/arachni.git
[submodule "Network/Sniffer/netsniff-ng"]
	path = Network/Sniffer/netsniff-ng
	url = https://github.com/netsniff-ng/netsniff-ng.git
[submodule "Pentration Testing/Exploiting/sparta"]
	path = Pentration Testing/Exploiting/sparta
	url = https://github.com/SECFORCE/sparta.git
[submodule "Network/Fake Services/dnschef"]
	path = Network/Fake Services/dnschef
	url = https://github.com/iphelix/dnschef.git
[submodule "Pentration Testing/Info Gathering/dnsenum"]
	path = Pentration Testing/Info Gathering/dnsenum
	url = https://github.com/fwaeytens/dnsenum.git
[submodule "Pentration Testing/Info Gathering/dnsmap"]
	path = Pentration Testing/Info Gathering/dnsmap
	url = https://github.com/makefu/dnsmap.git
[submodule "Pentration Testing/Info Gathering/dnsrecon"]
	path = Pentration Testing/Info Gathering/dnsrecon
	url = https://github.com/darkoperator/dnsrecon.git
[submodule "Network/Sniffer/dripcap"]
	path = Network/Sniffer/dripcap
	url = https://github.com/dripcap/dripcap.git
[submodule "Forensics/Network Forensics/Dshell"]
	path = Forensics/Network Forensics/Dshell
	url = https://github.com/USArmyResearchLab/Dshell.git
[submodule "Library/Python/scapy"]
	path = Library/Python/scapy
	url = https://github.com/secdev/scapy.git
[submodule "Pentration Testing/Info Gathering/smbmap"]
	path = Pentration Testing/Info Gathering/smbmap
	url = https://github.com/ShawnDEvans/smbmap.git
[submodule "Pentration Testing/Exploiting/fathomless"]
	path = Pentration Testing/Exploiting/fathomless
	url = https://github.com/xor-function/fathomless.git
[submodule "Reverse Engineering/unlinker"]
	path = Reverse Engineering/unlinker
	url = https://github.com/jonwil/unlinker.git
[submodule "Pentration Testing/Exploiting/beef"]
	path = Pentration Testing/Exploiting/beef
	url = https://github.com/beefproject/beef.git
[submodule "Forensics/File Forensics/dff"]
	path = Forensics/File Forensics/dff
	url = https://github.com/arxsys/dff.git
[submodule "Code Auditing/Static Analysis/brakeman"]
	path = Code Auditing/Static Analysis/brakeman
	url = https://github.com/presidentbeef/brakeman.git
[submodule "Pentration Testing/Post Exploitation/DET"]
	path = Pentration Testing/Post Exploitation/DET
	url = https://github.com/sensepost/DET.git
[submodule "Pentration Testing/Fuzzing/netzob"]
	path = Pentration Testing/Fuzzing/netzob
	url = https://github.com/netzob/netzob.git
[submodule "Pentration Testing/Post Exploitation/pwnat"]
	path = Pentration Testing/Post Exploitation/pwnat
	url = https://github.com/samyk/pwnat.git
[submodule "Pentration Testing/Post Exploitation/mallory"]
	path = Pentration Testing/Post Exploitation/mallory
	url = https://github.com/justmao945/mallory.git
[submodule "Pentration Testing/Exploiting/zarp"]
	path = Pentration Testing/Exploiting/zarp
	url = https://github.com/hatRiot/zarp.git
[submodule "Pentration Testing/Port Scanning/masscan"]
	path = Pentration Testing/Port Scanning/masscan
	url = https://github.com/robertdavidgraham/masscan.git
[submodule "Forensics/Network Forensics/passivedns"]
	path = Forensics/Network Forensics/passivedns
	url = https://github.com/gamelinux/passivedns.git
[submodule "Malware/Intelligence/passivedns-client"]
	path = Malware/Intelligence/passivedns-client
	url = https://github.com/chrislee35/passivedns-client.git
[submodule "Pentration Testing/Wireless/kismet"]
	path = Pentration Testing/Wireless/kismet
	url = https://www.kismetwireless.net/kismet.git
[submodule "Pentration Testing/Wireless/wifite"]
	path = Pentration Testing/Wireless/wifite
	url = https://github.com/derv82/wifite.git
[submodule "Pentration Testing/Wireless/wifiphisher"]
	path = Pentration Testing/Wireless/wifiphisher
	url = https://github.com/sophron/wifiphisher.git
[submodule "Pentration Testing/Services/sslyze"]
	path = Pentration Testing/Services/sslyze
	url = https://github.com/nabla-c0d3/sslyze.git
[submodule "Pentration Testing/Services/sslstrip"]
	path = Pentration Testing/Services/sslstrip
	url = https://github.com/moxie0/sslstrip.git
[submodule "Pentration Testing/Services/sslstrip2"]
	path = Pentration Testing/Services/sslstrip2
	url = https://github.com/LeonardoNve/sslstrip2.git
[submodule "Pentration Testing/Services/tls_prober"]
	path = Pentration Testing/Services/tls_prober
	url = https://github.com/WestpointLtd/tls_prober.git
[submodule "Pentration Testing/Web/weevely3"]
	path = Pentration Testing/Web/weevely3
	url = https://github.com/epinna/weevely3.git
