[submodule "Social Engineering/Phishing/whatsapp-phishing"]
	path = Social Engineering/Phishing/whatsapp-phishing
	url = https://github.com/Mawalu/whatsapp-phishing.git
[submodule "CTF Tools/pwntools"]
	path = CTF Tools/pwntools
	url = https://github.com/Gallopsled/pwntools.git
[submodule "Reverse Engineering/peda"]
	path = Reverse Engineering/peda
	url = https://github.com/longld/peda.git
[submodule "Reverse Engineering/plasma"]
	path = Reverse Engineering/plasma
	url = https://github.com/joelpx/plasma.git
[submodule "Reverse Engineering/medusa"]
	path = Reverse Engineering/medusa
	url = https://github.com/wisk/medusa.git
[submodule "Reverse Engineering/edb-debugger"]
	path = Reverse Engineering/edb-debugger
	url = https://github.com/eteran/edb-debugger.git
[submodule "Reverse Engineering/x64dbg"]
	path = Reverse Engineering/x64dbg
	url = https://github.com/x64dbg/x64dbg.git
[submodule "Reverse Engineering/radare2"]
	path = Reverse Engineering/radare2
	url = https://github.com/radare/radare2.git
[submodule "Network/Sniffer/moloch"]
	path = Network/Sniffer/moloch
	url = https://github.com/aol/moloch
[submodule "Network/Sniffer/OpenFPC"]
	path = Network/Sniffer/OpenFPC
	url = https://github.com/leonward/OpenFPC.git
[submodule "Network/Sniffer/PF_RING"]
	path = Network/Sniffer/PF_RING
	url = https://github.com/ntop/PF_RING.git
[submodule "Pentration Testing/Exploits/exploit-database"]
	path = Pentration Testing/Exploits/exploit-database
	url = https://github.com/offensive-security/exploit-database.git
[submodule "Pentration Testing/Fuzzing/Zulu"]
	path = Pentration Testing/Fuzzing/Zulu
	url = https://github.com/nccgroup/Zulu.git
